<%- include("partials/header.ejs") %> 
  <h2>Reseting database, please wait...</h2>
  <div class="con-cat">
    <img src="cat.jpg" alt="It's a cat" width="400" height="400">
  </div>
  <script>
    setTimeout(() => {
      window.location = '/'
    }, 1500);
  </script>
<%- include("partials/footer.ejs") %> 