body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #f3f4f6;
}

.badge-text {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

.badge-image-container {
	display: inline-block;
	animation: sparkleEffect 2s infinite alternate;
}

.badge-logo {
	width: 800px;
	height: auto;
}

@keyframes sparkleEffect {
	0% {
		box-shadow: 0 0 10px rgba(173, 216, 230, 0.6);
	}
	100% {
		box-shadow: 0 0 20px rgba(173, 216, 230, 0.8);
	}
}
