
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='tailwind/use.css')}}">
</head>
<div class="rounded-lg border bg-card text-card-foreground shadow-sm mx-auto max-w-md" data-v0-t="card">
  <div class="flex flex-col p-6 space-y-1">
    <h3 class="tracking-tight text-3xl font-bold text-center">Login</h3>
    <p class="text-sm text-zinc-500 dark:text-zinc-400 text-center">
      Enter your username and password below to login to your account.
    </p>
  </div>
  <div class="p-6 space-y-4">
    <div class="space-y-2">
        <form action="/login" method="post">
        <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="username"
        >
            Username
        </label>
        <input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="id"
            name="id"
            required=""
        />
        </div>
        <div class="space-y-2">
        <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="password"
        >
            Password
        </label>
        <input
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            id="pw"
            name="pw"
            required=""
            type="password"
        />
        </div>
        <button
        class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full"
        type="submit"
        >
        Login
        </button>
    </form>
  </div>
</div>