<h1>Enter Address</h1>
<form method="POST" action="/address">
    <input type="hidden" name="username" value="<%= username %>">
    <label>Address ID:</label><br>
    <input type="text" name="addressId"><br>
    <label>Full Address:</label><br>
    <input type="text" name="Fulladdress"><br>
    <button type="submit">Save Address</button>
</form>