<!-- app/templates/login.html -->
{% extends "base.html" %}
{% block content %}
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <!-- reset cache every login -->
    <script>
        caches.open('v1').then(cache => {
        cache.keys().then(keys => {
        keys.forEach(request => cache.delete(request));
            });
        });
    </script>

{% endblock %}