<script>
  var current = 0;
  var sakura = document.getElementById("sakura-css");
  var themeSelect = document.getElementById("theme-select");
  themeSelect.addEventListener("change", async () => {
    let selectedTheme = themeSelect.options[themeSelect.selectedIndex].value;
    await fetch("/config", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        config_name: 'theme',
        value: selectedTheme
      })
    });
    sakura.href = `https://unpkg.com/sakura.css/css/${selectedTheme}.css`
  });

  async function removeQuote(id) {
    await fetch("/remove_quote", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id
      })
    });
    location.reload();
  }
</script>
</body>
</html>