{# templates/admin/analyze.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}File Analysis Result{% endblock %}

{% block body %}
    <h1>File Analysis Result</h1>
    <p>File size: {{ fileSize }} bytes</p>
{% endblock %}
