doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="icon" href="/images/club.png" type="image/png")
  body
    header
      nav
        a(href="/") Home
        if typeof user !== 'undefined' && user
          a(href="/cats") Cats Gallery
          a(href="/logout") Logout
        else
          a(href="/login") Login
        img(src="/images/club.png" alt="Club Logo" class="navbar-logo")
    
    .content
      block content

    footer
      p &copy; 2024 Cat Club. All rights reserved.

    block scripts
