extends base

block content
  h1 Welcome to the Cat Club!
  p
  img(src="/images/cat.jpg", alt="Welcome to the Cat Club", width="666")

  p Enjoy exploring our site!
  p You can also check out our 
    a(href="/cats") Cats Gallery
    |  if you're a registered user.

  h2 What's Coming Next?
  p
    | At Cat Club, we are continuously working to bring more exciting features to our users. Soon, you will be able to:
    ul
      li Submit your own cats to the gallery
      li Rate other cats
      li Leave comments and share your thoughts on each kitty
      li Win weekly cat competitions and prizes!
