extends base

block content
  .login-page-wrapper
    h1 Login
    form#auth-form(method="POST", action="/login")
      fieldset
        legend Authentication

        label(for="auth-type-login")
          input#auth-type-login(type="radio", name="authType", value="login", checked)
          |  Login

        label(for="auth-type-register")
          input#auth-type-register(type="radio", name="authType", value="register")
          |  Register

        #form-fields
          label(for="username") Username:
            input#username(type="text", name="username", required)

          label(for="password") Password:
            input#password(type="password", name="password", required)

        button(type="submit") Submit

    if error
      p(style="color: red")= error

block scripts
  script.
    document.getElementById("auth-form").addEventListener("submit", function (event) {
      const authType = document.querySelector('input[name="authType"]:checked').value;
      if (authType === "register") {
          this.action = "/register";
      } else {
          this.action = "/login";
      }
    });
